<div class='row text-center mt-5'>
  <a href='/logout'>
    <button class='btn btn-danger float-end'>
      Logout
    </button>
  </a>
  <h2>Transferencias</h2>
  <div>
    <h3>{{current_user.name}}</h3>
    <h3>$ {{saldo}}</h3>
  </div>
  <form action='/transfer' method='post'>
    <input
      type='hidden'
      name='id_cliente'
      id='id_cliente'
      value='{{current_user.id}}'
    />
    <div class='input-group mb-3'>
      <span class='input-group-text' id='basic-addon1'>
        >
      </span>
      <select class='form-control' name='id_destinatario' id='id_destinatario'>
        {{#each users}}
          <option value={{this.id}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class='input-group mb-3'>
      <span class='input-group-text' id='basic-addon1'>
        $
      </span>
      <input
        type='text'
        class='form-control'
        aria-label='monto'
        aria-describedby='basic-addon1'
        name='monto'
        id='monto'
      />
    </div>
    <div class='mb-3' style='text-align: left !important;'>
      <label>Comentario:</label><br />
      <textarea class='form-control' name='comment' id='comment'></textarea>
    </div>
    <button
      type='submit'
      class='btn btn-primary margin-auto shadow px-5'
    >Transferir</button>
  </form>

  <hr />

  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th scope='col'>Fecha</th>
        <th scope='col'>Origen</th>
        <th scope='col'>Destino</th>
        <th scope='col'>Monto</th>
      </tr>
    </thead>
    <tbody>
      {{#each transfers}}
        <tr>
          <th scope='row'>{{this.fecha}}</th>
          <td>{{this.origen}}</td>
          <td>{{this.destino}}</td>
          <td>${{this.monto}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
